<!doctype html>
<html lang="en">
<head>
	<title>Hamdar E-Doctor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="/socket.io/socket.io.js"></script>
    <!-- <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script> -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- <script src="js/custom.js"></script> -->
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
	<section id="bar" class="bar">
		<div class="bg-color">
			<nav class="navbar navbar-default navbar-fixed-top ">
			  <div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			      </button>
			      <a class="navbar-brand" href="/"><img src="img/Hamdard.png" class="img-responsive" style="height: 50px; width:90px;"></a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			      	<% if (locals.user) { %>
			      		<% if (locals.doct) { %>
			      			<li><a href="/docchat?id=<%= user._id %>" target="_blank"><span class="glyphicon glyphicon-user"></span> prescription</a></li>
							<li><button type="button" class="btn btn-link">Link</button></li>
						<% } %>				      		 
						<li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
					<% } %>
			      </ul>
			    </div>
			  </div>
			</nav>
<div class="container-fluid">
				<div class="docchat" >
					<div class="row">
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
						<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
							<div class="container-fluid">
								<div class="chatbox" id="chatbox">
									<h1>Hamdard Chat-Box</h1>
									<div id="chat-window">
										<div id="output"></div>
									</div>
						            <input id="handle" type="text" value="<%= user.username %>" />
						            <input id="message" type="text" placeholder="Message" />
						            <button id="send"><strong>Send</strong> </button>
						            <button id="myBtn"> <strong>Vedio Call</strong></button>
								</div>
								
					        </div>
					        <br><br><br><br>					
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  >
							<div class="cata" id="cata">
								<a href="/patienthistory"><span class="glyphicon glyphicon-folder-open"></span> Patient History</a>
								<br><br><a href="/patienthistory"><span class="glyphicon glyphicon-folder-open"></span> Patient History</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div id="myModal" class="modal fade" role="dialog"  >
		  <div class="modal-dialog"  >
		    <div class="modal-content" style="text-align: center;">
		      <div class="modal-body" style="background: rgba(28,74,90, 0.7); color:#fff;" >
		        <p>Your Prescription has been saved.</p>
		        <% if (locals.visit) { %>
					<a href="/prescription?visit=<%= visit %>" id="chatreq" class="btn btn-success" target="_blank" ><strong>Ok</strong></a>	
				<% } %>	        
		        <button type="button" class="btn btn-success" id="chatreqno" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</section>

	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">About Us</h4>
						</div>
						<div class="info-sec">
							<p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Quick Links</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
								<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
								<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
								<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						© Copyright Hamdard University
					</div>
				</div>
			</div>
		</div>
	</footer>
		<% if (locals.patinfo)
		{ %>
			<script>
				var patage ="<%= patinfo.patage %>";
				var pattemp ="<%= patinfo.pattemp %>";
				var patblood1 ="<%= patinfo.patblood1 %>";
				var patblood2 ="<%= patinfo.patblood2 %>";
				var patsugar1 ="<%= patinfo.patsugar1 %>";
				var patsugar2 ="<%= patinfo.patsugar2 %>";
				var patpluse ="<%= patinfo.patpluse %>";
				var patO2 ="<%= patinfo.patO2 %>";
			</script>
	<% } %>
	<script>
		var myName = document.querySelector("#handle");
		var myMessage = document.querySelector("#message");
		var sendMessage = document.querySelector("#send");
		var chatArea = document.querySelector("#output");
		var Vedio = document.querySelector("#myBtn");
		var cat = "<%= user.category %>";
		var ROOM = "<%= locals.docid %>";
		var SIGNAL_ROOM = "<%= locals.docid %>";
				
		io = io.connect();

		io.on('prescription', function(data) {
			$("#myModal").modal();
		});
		
		io.emit('ready', {"chat_room": ROOM, "signal_room": SIGNAL_ROOM});
		
		if (cat == "patient") {		
			io.emit('patinfo', {"patname": "<%= user.username %>","patid": "<%= user._id %>","patage": patage , "pattemp": pattemp , "patblood1": patblood1 , "patblood1": patblood1 ,"patblood2": patblood2 , "patsugar1": patsugar1 , "patsugar2": patsugar2 ,"patpluse": patpluse ,"patO2": patO2 , "room":ROOM});
		}

		io.on('message', function(data) {
			displayMessage(data.author + ": " + data.message);
		});

		io.on('window', function(data) {
			window.open("/video?q=<%= locals.docid %>", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
		});
		
		sendMessage.addEventListener('click', function(ev){
			io.emit('send', {"author":myName.value, "message":myMessage.value, "room":ROOM});
			ev.preventDefault();
		}, false);
		
		Vedio.addEventListener('click', function(ev){
			io.emit('win', {"author":myName.value, "message":"open new window on client", "room":ROOM});
			 window.open("/video?q=<%= locals.docid %>", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
			ev.preventDefault();
		}, false);

		function displayMessage(message) {
			chatArea.innerHTML = chatArea.innerHTML + "<br/>" + message;
		}
		// $(document).ready(function(){
		// 	io.emit('send', {"author":'<%= locals.docname %>', "message":"hello there ", "room":ROOM});
		// });
	</script>
</body>
</html>