<!DOCTYPE html>
<html>
<head>
	<title>Hamdar OPC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<section id="patient-bar" class="patient-bar">
	<!-- <div class="bg-color" id="bg-color" ></div> -->
	<nav class="navbar navbar-default navbar-fixed-top ">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="/"><img src="img/Hamdard.png" class="img-responsive" style="height: 50px; width:90px; margin-top: 0+px;"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a href="index.html"><span class="glyphicon glyphicon-home"></span> Profile</a></li>
	        <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
</section>

<section id="practitioner" class="practitioner">
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome Dr.<%= user.username %></h1> 
			<p>
					I am a doctor - it's a profession that may be considered a special mission, a devotion. It calls for involvement, respect and willingness to help all other people.
				</p>
		</div>
	</div>
	<div class="container">
		<h2>Total Amount</h2>
		<div class="row" >
			<div class="col-sm-1" >
				<hr class="botm-line">
			</div>
			<div class="col-sm-10"></div>
		</div>
		<% if (locals.doctor) { 
			doctor.forEach(function(doc){ %>
			<h3><%= doc.amount %>/- Pkr</h3>
			<script > 
				var ROOM = "<%= doc._id %>";
				var SIGNAL_ROOM = "<%= doc._id %>";	
			</script>
		<% });} %>
	</div>
	<div id="myModal" class="modal fade" role="dialog"  >
	  <div class="modal-dialog"  >
	    <div class="modal-content" style="text-align: center;">
	      <div class="modal-body" style="background: rgba(28,74,90, 0.7); color:#fff;" >
	        <p>You Have to Check a patient</p>
	        <% if (locals.doctor) { 
				doctor.forEach(function(doc){ %>
					<a href="/chat?id=<%= doc._id %>" id="chatreq" class="btn btn-success"><strong>Ok</strong></a>	
			<% });} %>	        
	        <button type="button" class="btn btn-danger" id="chatreqno" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</section>
<section id="foo" class="foo">
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">About Us</h4>
							</div>
							<div class="info-sec">
								<p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Quick Links</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
								<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
								<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
								<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						© Copyright Hamdard University
					</div>
				</div>
			</div>
		</div>
	</footer>
</section>
<script>	
	var chatreq = document.querySelector("#chatreq");
	var chatreqno = document.querySelector("#chatreqno");
	io = io.connect();
	io.emit('ready', {"chat_room": ROOM, "signal_room": SIGNAL_ROOM});
	io.on('request', function(data) {
		$("#myModal").modal();
	});

	chatreq.addEventListener('click', function(ev){
		io.emit('chatreply', {"message":"accepted", "room":ROOM});
		
		// ev.preventDefault();
	}, false);

	chatreqno.addEventListener('click', function(ev){
		io.emit('chatreply', {"message":"not accepted", "room":ROOM});
		ev.preventDefault();
	}, false);	
</script>
</body>
</html>