<!DOCTYPE html>
<html>
<head>
	<title>Hamdar E-Doctor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section id="patient-bar" class="patient-bar">
	<!-- <div class="bg-color" id="bg-color" ></div> -->
	<nav class="navbar navbar-default navbar-fixed-top ">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="/"><img src="img/Hamdard.png" class="img-responsive" style="height: 50px; width:90px; margin-top: 0+px;"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
	      	<% if (locals.user) { %>
	      		<li><a href="/pdf" target="_blank" ><span class="glyphicon glyphicon-user"></span> <%= user._id %></a></li>	
				<li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>				
			<% } %>
	      </ul>
	    </div>
	  </div>
	</nav>
</section>

<section id="doctor-team" class="doctor-team">
	<div class="container" >
		<% if (user.category == "patient") { %> 
		<h1 style="text-align: center;" ><%= user.username %> Your History</h1>
		<% }else{ %>
			<h1 style="text-align: center;" >Patient's History</h1>
		<% } %>
		<div class="row" align="center" >
			<% if (locals.pres) { 
				pres.forEach(function(doc){ %>
					<div class="col-md-4 col-sm-4" >
						<% if (user.category == "patient") { %> 
							<p><a href="/prescription?visit=<%= doc.visit %>"><span style="font-size: 100px; color:#A8A8A8; " class="glyphicon glyphicon-file"></span><br>Checkup#<%= doc.visit %></a></p>
							<br> 
						<% }else{ %>
							<p><a href="/prescription?visit=<%= doc.visit %>&his=<%= doc.patemail %>"><span style="font-size: 100px; color:#A8A8A8; " class="glyphicon glyphicon-file"></span><br>Checkup#<%= doc.visit %></a></p>
							<br>
						<% } %>
					</div>
			<% });} %>
		</div>
	</div>
</section>
<section id="foo" class="foo">
	<footer id="footer">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 marb20">
							<div class="ftr-tle">
								<h4 class="white no-padding">About Us</h4>
							</div>
							<div class="info-sec">
								<p>Praesent convallis tortor et enim laoreet, vel consectetur purus latoque penatibus et dis parturient.</p>
							</div>
					</div>
					<div class="col-md-4 col-sm-4 marb20">
						<div class="ftr-tle">
							<h4 class="white no-padding">Quick Links</h4>
						</div>
						<div class="info-sec">
							<ul class="quick-info">
								<li><a href="index.html"><i class="fa fa-circle"></i>Home</a></li>
								<li><a href="#service"><i class="fa fa-circle"></i>Service</a></li>
								<li><a href="#contact"><i class="fa fa-circle"></i>Appointment</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-line">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						© Copyright Hamdard University
					</div>
				</div>
			</div>
		</div>
	</footer>
</section>
</body>
</html>