<!DOCTYPE html>
<html>
<head>
	<title>Hamdar E-Doctor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<section id="logo" class="logo" align="center"; >
	<div class="container" >
		<img src="img/Hamdard.png" >
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
				<h2>Indigenous Development Of Web Application For Remote Out Patient Care (E-Doctor System) </h2>	
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ></div>
		</div>	
	</div>	
</section>

<section id="medinfo" class="medinfo">
	<div class="container">
		<div class="perinfo">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<br>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<p>Date :<%= doct.date; %></p>	
						<%});%>
					<%}%>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<p>Patient Name : <%= doct.patname; %></p>	
						<%});%>
					<%}%>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<p>Age : <%= doct.patage; %></p>	
						<%});%>
					<%}%>
					<table>
						<tr>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<td>Blood Pressure :</td>
							<td> <%= doct.patblood1; %> - </td>	
						<%});%>
					<%}%>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<td> <%= doct.patblood2; %></td>	
						<%});%>
					<%}%>
						</tr>
					</table>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<p>Temperature : <%= doct.pattemp; %></p>	
						<%});%>
					<%}%>
					<table>
						<tr>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<td>Sugar Level :</td>
							<td> <%= doct.patsugar1; %> - </td>	
						<%});%>
					<%}%>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<td> <%= doct.patsugar2; %></td>	
						<%});%>
					<%}%>
						</tr>
					</table>

					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<p>Pluse rate : <%= doct.patpluse; %></p>	
						<%});%>
					<%}%>

					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<p>O2 Level : <%= doct.patO2; %></p>
							<script> </script>	
						<%});%>
					<%}%>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
					<% if ( user.category == "patient"){%>
						<br>
						<button onclick="myfun()" type="button" class="btn btn-success">Print out</button>
					<% }else{ %>
						<% if (locals.doctor){ %>
							<script>
								var ROOM="<%= doctor._id %>";
								
								io = io.connect();

								io.emit('prescription', {"message":"check your prescription", "room":ROOM});	
							</script>
						<% } %>	
					<% } %>
				</div>
			</div>	
		</div>
		<div id="med"  class="med">
			<div class="row" >
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<h2>Medicine</h2>		
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
			</div>
			<!-- <br> -->
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<% if (locals.pres){%>
						<%pres.forEach(function(doc){ %>
							<%doc.mdnam.forEach(function(doct){ %>
								<h4><%= doct; %></h4>	
							<%});%>
						<%});%>
					<%}%>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<% if (locals.pres){%>
						<%pres.forEach(function(doc){ %>
							<%doc.medamount.forEach(function(doct){ %>
								<h4><%= doct; %></h4>	
							<%});%>
						<%});%>
					<%}%>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">	
					<% if (locals.pres){%>
						<%pres.forEach(function(doc){ %>
							<%doc.mdtime.forEach(function(doct){ %>
								<h4><%= doct; %></h4>	
							<%});%>
						<%});%>
					<%}%>
				</div>	
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
			</div>
		</div>
		<div id="med"  class="med">
			<div class="row" >
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<h2>Test's</h2>		
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
			</div>
			<!-- <br> -->
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>	
					<% if (locals.pres){%>
						<%pres.forEach(function(doc){ %>
							<%doc.test.forEach(function(doct){ %>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<h4><%= doct; %></h4>
							</div>	
							<%});%>
						<%});%>
					<%}%>				
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			</div>
		</div>
		<div class="finalcomment">
			<div class="row" >
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<h2>Final Comments</h2>		
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
			</div>
			<!-- <br> -->
			<div class="row" >
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><p></p></div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"  >
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<p style="word-wrap: break-word;"><%= doct.comment; %></p>	
						<%});%>
					<%}%>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			</div>
		</div>
		<div class="docinfo">
			<div class="row" >
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<h3>Doctor Name</h3>
					<% if (locals.pres){%>
						<%pres.forEach(function(doct){ %>
							<p>Dr.<%= doct.docname %></p>	
						<%});%>
					<%}%>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="perfoo" id="perfoo" >
	<footer>
		<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						© Copyright Hamdard University
					</div>
				</div>
			</div>
	</footer>
</section>
<script>
function myfun() {
    window.print();
}
</script>
</body>
</html>


